.wrapper_character_card_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 100%;
  padding: 0 16px;

  color: var(--smoke);
  font-size: 12px;
  margin: 40px 0 9px 0;

  .name {
    display: none;
  }

  @media (min-width: 768px) {
    .name {
      display: block;
    }
  }
}
